{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
<!-- Page Header-->
<header class="masthead" id="bg" style="background-image: url('/static/assets/img/signup-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Change Password</h1>
                    <span class="subheading">Scroll down to change your password</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p></p>
                <div class="my-5">

                    <form action="{{ url_for('auth.change_password') }}" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4 fw-bold">Change Password</legend>

                            <div class="form-group">
                                {{ form.current_password.label(class="form-control-label") }}
                                {% if form.current_password.errors %}
                                {{ form.current_password(class="form-control form-control-sm is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.current_password.errors %}
                                    <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.current_password(class="form-control form-control-sm") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.new_password.label(class="form-control-label") }}
                                {% if form.new_password.errors %}
                                {{ form.new_password(class="form-control form-control-sm is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.new_password.errors %}
                                    <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.new_password(class="form-control form-control-sm") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.confirm_new_password.label(class="form-control-label") }}
                                {{ form.confirm_new_password(class="form-control form-control-sm") }}
                                {% if form.confirm_new_password.errors %}
                                {% for error in form.confirm_new_password.errors %}
                                <ul class="errors">
                                    <li>{{ error }}</li>
                                </ul>
                                {% endfor %}
                                {% endif %}
                            </div><br>
                        </fieldset>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-outline-secondary fw-semibold") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}