{% extends "base.html" %}
{% block title %}Request Password Reset{% endblock %}
{% block content %}
<!-- Page Header-->
<header class="masthead" id="bg" style="background-image: url('/static/assets/img/signup-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Request Password Reset</h1>
                    <span class="subheading">Scroll down to reset your password</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Please enter the email the email that you registered with. You will be sent an email that will allow
                    you to reset your password.</p>
                <div class="my-5">

                    <form action="{{ url_for('auth.request_password_reset') }}" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4 fw-bold">Request Password Reset</legend>

                            <div class="form-group">
                                {{ form.email.label(class="form-control-label") }}
                                {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-sm is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                    <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.email(class="form-control form-control-sm") }}
                                {% endif %}
                            </div><br>
                        </fieldset>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-outline-secondary fw-semibold") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}